@charset 'utf-8';

@import
  './includes/normalize',
  './includes/variables',
  './includes/mixins',
  './includes/fonts',
  './includes/base',
  './includes/contact';

:root {
  --home-bg: #7e57c2;
  --home-border: #6c45b0;

  --about-bg: #169AE1;
  --about-border: #0E92D9;

  --contact-bg: #666699;
  --contact-border: #5B5B8E;

  --color-fade: rgba(238, 255, 255, .8);
  --form-base: rgba(132, 132, 183, .4);
}

html {
  display: flex;
  height: 100vh;
  background-color: $color_dark;
  background-color: var(--home-border);
  @media (max-width: 700px) {
    font-size: 14.5px;
  }
  @media (orientation: landscape) and
  (min-height: 700px), (max-height: 635px) {
    overflow: auto;
  }
}

body {
  align-self: center;
  justify-content: center;
  background-color: #7e57c2;
  background-color: var(--home-bg);
  @include border-radius(3px);
  overflow-y: scroll;
  color: $off_white;
  height: 95vh;
  width: 98vw;
  @media (min-width: 1024px)
  and (min-height: 600px) {
    overflow-y: auto;
  }
  @media (max-width: 700px) {
    height: 97vh;
    width: 96vw;
  }
  &::-webkit-scrollbar {
    height: 10px;
    width: 1.5px;
    border-radius: 0px;
    -webkit-appearance: none;
    background: transparentize($white, 0.5);
  }
  &::-webkit-scrollbar-track {
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    transition: 0.2s;
    border-radius: 5px;
    background: $white;
    &:window-inactive {
      background: transparentize($white, 0.6);
    }
    &:hover {
      background: $white;
    }
  }
}

header h3,
main > h1 {
  font-weight: 900;
}

header {
  position: relative;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 840px) {
    padding: 30px;
  }
  @media (max-width: 700px) {
    padding-right: 20px;
    padding-left: 20px;
  }
  h3 {
    padding: 0;
    margin: 0;
    &:after {
      color: var(--color-fade);
      content: '.';
    }
  }
}

nav {
  @media (max-width: 700px) {
    align-self: center;
    font-size: .9em;
  }
  --active-color: rgba(238, 255, 255, .2);
  position: relative;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    display: inline-flex;
    position: relative;
    margin-right: 10px;
    @media (max-width: 700px) { margin-right: 5px; }
    &:last-of-type { margin-right: 0; }
    a {
      @include transition(border-color .3s linear);
      border-bottom: 2px solid transparent;
      display: block;
      &:hover {
        border-color: var(--active-color);
      }
      &.active {
        border-color: var(--active-color);
        font-weight: 900;
      }
    }
  }
}

main {
  margin: 30px 0 50px 0;
  padding: 20px 50px;
  position: relative;
  text-align: left;
  @media (max-width: 840px) {
    padding-right: 30px;
    padding-left: 30px;
  }
  @media (max-width: 700px) {
    padding-right: 20px;
    padding-left: 20px;
    font-size: .9em;
  }
  &:not(.home) {
    a, b {
      font-weight: 600;
    }
  }
  &.about {
    @media (min-width: 1000px) {
      p {
        font-size: .96em;
        &:nth-of-type(1) {
          font-size: .9em;
          margin: .2em 0;
          line-height: .9;
        }
      }
    }
  }
  a {
    font-weight: 900;
    &[href="/#about"]:after {
      content: url(../../images/arrow-right.svg);
      vertical-align: 0px;
    }
  }
  h1 {
    text-transform: capitalize;
    position: relative;
    line-height: 1.5;
    span {
      color: var(--color-fade);
    }
  }
  p {
    position: relative;
    text-align: left;
    line-height: 2;
    width: 70%;
    @media (max-width: 1070px) {
      width: 90%;
    }
    @media (max-width: 700px) {
      width: 100%;
    }
  }
}

aside {
  margin: 30vh auto 20px;
  text-align: center;
  position: relative;
  display: none;
  width: 100%;
}

.home aside {
  display: flex;
  justify-content: center;
  a {
    @include transition(none);
    text-transform: uppercase;
    letter-spacing: .06em;
    display: inline-block;
    margin-right: 15px;
    font-weight: 600;
    font-size: .75em;
    @media (max-width: 420px) {
      margin-right: 30px;
      font-size: .65em;
      &:last-of-type { margin-right: 0; }
      span {
        display: none;
      }
    }
    &:nth-of-type(4) { margin-right: 0; }
    svg {
      vertical-align: -2px;
      margin-right: 5px;
      fill: $off_white;
      height: 12px;
      width: 14px;
      @media (max-width: 420px) {
        @include transform(scale(1.3));
        vertical-align: text-bottom;
      }
    }
  }
}
