@charset 'utf-8';

@import
  './includes/normalize',
  './includes/variables',
  './includes/mixins',
  './includes/fonts',
  './includes/base',
  './includes/contact';

:root {
  --home-bg: #7e57c2;
  --home-border: #6c45b0;

  --about-bg: #169AE1;
  --about-border: #0E92D9;

  --projects-bg: #37B7B7;
  --projects-border: #2EAEAE;

  --contact-bg: #666699;
  --contact-border: #5B5B8E;

  --color-fade: rgb(238, 255, 255, .8);
  --form-base: rgba(132, 132, 183, .4);
}

html {
  @include transition(background-color .3s ease);
  background-color: var(--home-border);
  height: 100vh;
  @media (orientation: landscape)
    and (min-height: 700px) {
    overflow: hidden;
  }
}

body {
  @include transition(background-color 1s ease .1s);
  @include transform(translate(-50%, -50%));
  background-color: var(--home-bg);
  position: absolute;
  color: $off_white;
  height: 95vh;
  width: 97vw;
  left: 50%;
  top: 50%;
  @media (max-width: 700px) {
    height: 95vh;
  }
}

header {
  position: relative;
  padding: 30px 50px;
  @media (max-width: 700px) {
    padding-right: 20px;
    padding-left: 20px;
  }
  h3 {
    display: inline-block;
    padding: 0;
    margin: 0;
    &:after {
      color: var(--color-fade);
      content: '.';
    }
  }
}

nav {
  position: relative;
  margin-top: -15px;
  float: right;
  li {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    &:last-of-type { margin-right: 0; }
    a {
      @include transition(border-color .3s linear);
      border-bottom: 2px solid transparent;
      display: block;
      &:hover { border-color: var(--color-fade); }
      &.active {
        border-color: var(--color-fade);
        font-weight: bold;
      }
    }
  }
}

main {
  margin: 30px 0 50px 0;
  padding: 20px 50px;
  position: relative;
  text-align: left;
  @media (max-width: 700px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  a:not(.project) { font-weight: bold; }
  h1 {
    text-transform: capitalize;
    position: relative;
    line-height: 1.5;
  }
  p {
    position: relative;
    text-align: left;
    line-height: 2;
    width: 70%;
    @media (max-width: 1070px) {
      width: 90%;
    }
  }
  a[href="/#about"]:after {
    content: " →";
  }
}

aside {
  @include transform(translate(-50%));
  position: absolute;
  text-align: center;
  padding: 5px 10px;
  margin: 0 auto;
  bottom: 10px;
  width: 100%;
  left: 50%;
  a {
    text-transform: uppercase;
    letter-spacing: .06em;
    display: inline-block;
    margin-right: 15px;
    font-size: .75em;
    font-weight: 900;
    &:nth-of-type(4) {
      margin-right: 0;
    }
  }
}

@import './includes/mq';
