* {
  @include selectnone;
  @include box-sizing;
  outline-width: 2px;
  font-family: $basefont;
  outline-color: $off_white;

  &:before,
  &:after {
    @include box-sizing;
  }
}

html {
  clear: both;
  font-size: 15px;
  overflow-x: hidden;
  -ms-text-size-adjust: $full;
  -webkit-text-size-adjust: $full;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  clear: both;
  padding: 0em;
  margin: 0 auto;
  line-height: 1.5;
  font-family: $basefont;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1 {
  line-height: 1.1;
}

button {
  border: 0 none;
  -webkit-appearance: none;
}

a {
  color: $off_white;
  text-decoration: none;
}

a,
button {
  @include transition(all .3s ease-in-out);
}

textarea {
  resize: none;
}
