@include placeholdercolor;

form > *:not([type="submit"]) {
  position: relative;
  margin-bottom: 15px;
}

textarea,
input:not([type="submit"]) {
  width: 50vw;
  display: block;
  outline: 0 none;
  padding: 8px 0px;
  border-radius: 0;
  border-style: solid;
  border-width: 0 0 2px;
  background-color: transparent;
  border-color: var(--form-base);
  @include transition(border-color .2s ease);

  @media (max-width: 1080px) {
    width: 65vw;
  }

  @media (max-width: 700px) {
    width: 80vw;
  }
}

textarea:focus,
input:not([type="submit"]):focus {
  border-color: #eeeeee;
}

input[type="submit"] {
  color: #eeffff;
  margin-right: 5px;
  padding: 10px 20px;
  outline-offset: 1px;
  transition: all 1s ease;
  border: 2px solid transparent;
  outline: 2px solid transparent;
  background-color: var(--form-base);

  &:hover,
  &:focus {
    outline-color: rgba(238, 255, 255, .1);
  }
}
