@font-face {
  font-family: 'Fira Sans';
  src: url('../../fonts/FiraSans-Regular.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../../fonts/FiraSans-SemiBold.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../../fonts/FiraSans-Black.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 900;
}
