@media (max-height: 635px) {
  html { overflow: hidden; }
  body { overflow-y: scroll; }
  aside { display: none; }
}
@media (max-width: 700px) {
  main {
    padding-right: 20px;
    padding-left: 20px;
    font-size: .9em;
    p {
      width: 100%;
    }
    textarea,
    input:not([type="submit"]) {
      width: 80vw;
    }
  }
}
