/* ==========================================================================
   Variables
   ========================================================================== */

$basefont: 'FiraSans', Calibri, 'Trebuchet MS', Helvetica, Arial, georgia, sans-serif, serif;
$off_white: #eeffff;
$white: #ffffff;
$black: #000000;
$full: 100%;
$basecolor: #7e57c2;
$color_dark: #6c45b0;
